main {
    margin: 0px 10px;
    padding-top: 50px;

    .VmixContainer {
        display: grid;
        grid-template-columns: 70% 30%;

        @media (max-width: 1200px) {
            grid-template-columns: 60% 40%;
        }

        @media (max-width: 700px) {
            grid-template-columns: 50% 50%;
        }

        @media (max-width: 500px) {
            display: block;
        }
    }

    .center{
        @include center;
    }

    .ContainerCommandSelector{
        @include center;
        justify-content: space-between;
        margin: 15px 0;
        padding: 10px;
        background: $background_item;
        border: 1px solid $color-info;
        width: 1400px;

        &.center{
            @include center;
        }

        p{
            color: $background;
            font-size: 0.9rem;
            padding-top: 5px;
        }

        select{
            cursor: pointer;
        }

    }

    #videoSourcesContainer {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        justify-content: center;
    }

    #audioBusesContainer {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start
    }


    #audioSourcesContainer {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start
    }


}