.new_session{
    @include center;
    flex-direction: column;
    height: 100vh;

    h1{
        margin: 20px;
    }

    select{
        cursor: pointer;
    }

    button{

        background: $preview;
        transition: 0.5s ease-in;
        margin-top: 50px;
        &:hover{
            color: $preview;
            background-color: lighten($preview, 50%); 
        }
    }

    p{
        color: $primary-btn;
    }
    .github{
        width: 50px;
        height: 50px;
        filter: invert(100%);
        cursor: pointer;
        &:hover{
            filter: invert(50%); 
        }
    }
}