.audio-source,
.audio-bus {
    background: $background_item;
    border: 1px solid $primary-btn;
    margin: 5px;
    max-width: 300px;
    overflow: hidden;

    h2 {
        @include center;
        font-size: 1rem;
        padding: 10px 0px;
        border-bottom: 1px solid $color-text ;
    }

    .button {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        z-index: 10;

        p {
            width: 30px;
            height: 30px;
            @include center;
            font-size: 2rem;
            margin: 5px;
            background: $background;
            border: 1px solid $primary-btn;
            cursor: pointer;
            overflow: hidden;
            color: $primary-btn;

            &.master {
                visibility: hidden;
            }

            &.true {
                color: $primary-btn;
            }

            &.false {
                color: $program;
                border: 1px solid $program;
            }

            &.muted {
                &.true {
                    @include icon($icon-mute);
                }

                &.false {
                    @include icon($icon-volume);
                }
            }

            &.soloPFL {
                font-size: 1rem;
            }

            &.solo {
                font-size: 1.5rem;

                &.false {
                    color: $primary-btn;
                    border: 1px solid $primary-btn;
                }

                &.true {
                    color: $audio;
                    border: 1px solid $audio;
                }

                &:hover {
                    border: 1px solid $color-text;
                    color: $color-text;
                    transition: 0.5s ease;
                }
            }

            &.bus {
                font-size: 1.5rem;

                &.false {
                    color: $primary-btn;
                    border: 1px solid $primary-btn;
                }

                &.true {
                    color: $program;
                    border: 1px solid $program;
                }

                &:hover {
                    border: 1px solid $color-text;
                    color: $color-text;
                    transition: 0.5s ease;
                }
            }

            &:hover {
                border: 1px solid $color-text;
                color: $color-text;
                transition: 0.5s ease;
            }
        }
    }

    .master {
        display: grid;
        grid-template-columns: 150px 70px 70px;

        .containerRange {
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .range {
            @include center;
            margin: 0px;
            padding: 0px;
            transform: translateX(-00px) rotate(270deg);
            width: 50px;
            height: 150px;
            position: relative;

            input[type="range"] {
                -webkit-appearance: none;
                width: 150px;
                height: 5px;
                background: $background;
                outline: none;
                padding: 0px
            }

            .sliderticks {
                position: absolute;
                display: flex;
                left: -44px;
                transform: translateY(10px);
                z-index: -10;
                justify-content: space-between;

                span {
                    margin-left: 10px;
                    display: flex;
                    justify-content: center;
                    width: 1px;
                    height: 10px;
                    background: $background;
                }
            }

            input[type="range"]::-webkit-slider-thumb {
                -webkit-appearance: none;
                background: $background;
                border: 1px solid $color-muted;
                height: 25px;
                width: 10px;
                cursor: pointer;
                pointer-events: auto !important;

                &:hover {
                    background: $color-text;
                    transition: 0.5s ease;
                }
            }

            label {
                position: absolute;
                color: $audio;
                transform: translateY(-15px);
                z-index: -10;
                user-select: none;
                pointer-events: none;
                color: $background;
            }

            .number {
                @include center;
                background: $background;
                padding: 5px;
                max-width: 50px;
                overflow: hidden;
            }

        }

    }

}

.audio-bus {

    .master {
        grid-template-columns: 1fr 1fr;
    }

    .master .button {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

#audioBusesContainer {
    display: flex;
    width: auto;
}