nav {
    height: 50px;
    position: fixed;
    z-index: 110;
    width: 100%;
    transition: 0.5s ease;
    background: $background_item;
    padding: 0px 10px;

    div {
        @include center;
        height: 100%;
        justify-content: space-between;

        .list {
            display: flex;
            margin-left: 50px;

            label {
                padding: 10px;
                font-size: 0.8rem;
                font-family: $font2;
            }

            select {
                border-radius: 10px;
                background: $background;
                padding: 10px;
                font-family: $font2;
                font-size: 0.8rem;
                cursor: pointer;
            }
        }

        .script_down{
            cursor: pointer;
            width: 40px;
            transition: 0.5s ease;
            &:hover{
                filter: invert(100%); 
            }
        }

        #projetName {
            font-weight: 900;
            padding: 10px;
            font-size: 1.2rem;
            align-items: center;
            color: $audio;
        }

        .statut_vmix_contener {

            // Styles pour le conteneur
            .statut_vmix {
                display: flex;
                align-items: center;
                margin-right: 10px;
                @include center;
                border: $color-muted solid 1px;
                background: $background;

                // Styles pour le texte "fullscreen"
                h1 {
                    padding: 5px;
                    @include center;
                    text-transform: uppercase;
                    font-size: 1rem;
                }

                // Styles pour la case à cocher
                input[type="checkbox"] {
                    // Cacher la case à cocher native
                    display: none;
                }

                &.true {
                    background: $program;
                }
            }
        }

    }

}




///a supprioer
/// 
/// 
.inputContainer {
    @include center;
    position: fixed;
    top: 20%;
    left: 50%;
    width: 800px;
    z-index: 1000;
    height: 800px;
    transform: translate(-50%);
    background: $background_item;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 10px;

    &.none {
        display: none;
    }

}

.closeButton {
    cursor: pointer;
}