nav {
    height: 50px;
    position: fixed;
    z-index: 110;
    width: 100%;
    transition: 0.5s ease;
    background: $background_item;
    padding: 0px 10px;

    div {
        @include center;
        height: 100%;
        justify-content: space-between;
        .left{
            margin-left: 10px;
        }
        .list {
            display: flex;
            margin-left: 10px;

            label {
                padding: 10px;
                font-size: 0.8rem;
                font-family: $font2;
            }

            select {
                border-radius: 10px;
                background: $background;
                padding: 10px;
                font-family: $font2;
                font-size: 0.8rem;
                cursor: pointer;
                width: 250px;
            }
        }

        .script_down {
            cursor: pointer;
            width: 40px;

            &:hover {
                filter: invert(30%);
            }
        }

        #fast {
            margin-left: 10px;
            cursor: pointer;
            width: 50px;
            height: 50px;
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('../icon/fast-delivery-icon.svg');
            transition: 0.5s ease;

            &:hover {
                filter: invert(50%);
                transition: 0.5s ease;
            }

            &.on {
                background-image: url('../icon/fast-delivery-red-icon.svg');
                transition: 0.5s ease;
            }
        }

        #projetName {
            font-weight: 900;
            padding: 10px;
            font-size: 1.2rem;
            align-items: center;
            color: $audio;
        }

        @import "./statut_vmix_contener";

    }

}